<template data-type="verticals">
    <div class="flex justify-around" >
        <div 
            data-for="vertical in verticals" 
            data-props="{{@click: onTemplateVerticalSelected}}"
            class="bg-[url('https://pnp.github.io/images/hero-parker-p-1080.png')] bg-cover border-solid border-2 border-black w-40 h-20 rounded flex justify-end flex-col">
            
                <div class="text-white bg-black/60 p-2 font-bold">
                    {{vertical.displayName}}
                </div>

                <div data-if="vertical.key === selectedVerticalKey">
                    Selected
                </div>
        </div>        
    </div>        
</template>