# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV={{ENV_EnvName}}
APP_NAME_SUFFIX={{ENV_EnvName}}

AZURE_SUBSCRIPTION_ID={{ENV_AzDeploySubcriptionId}}
AZURE_RESOURCE_GROUP_NAME={{ENV_AzResourceGroupName}}
RESOURCE_SUFFIX=pnpsearchcore
WEB_APP_SKU=B1

# App used for Teams Tab SSO (i.e. application used by Microsoft Search API)
AAD_APP_CLIENT_ID={{ENV_MSSearchAppClientId}}
