.fieldContainer {
    display: flex;
    width: 100%;
}

.buttonPlaceholder {
    width: 32px;
    height: 32px;
    border-bottom: "1px solid";
    border-left: "1px solid";
    border-color: "[theme: themePrimary, default: #0078d7]";
}

.translationContainer {
    display: flex;
}

.languagesContainer {
    margin-top: 12px;
}